In [76]:
x=7
y='data'
print(x)
print(y)
#test comment

all_lower = y.lower()
all_upper = y.upper()
my_variable = 10
print(my_variable)

my_variable += 5

print(my_variable)

7
data
10
15

working with strings

In [77]:
question = 'what are you studying?'
answer = 'Analytics!'
print(f'{question}\n{answer}')
type(answer)

what are you studying?
Analytics!

str

In [78]:
len(answer)

10

In [79]:
#indexing string
print(answer[0])
print(answer[2])
print(answer[9])
#find the last character
print(answer[-1])

A
a
!
!

In [80]:
course = 'CTBA'
len(course)
print(course[0:2])
print(course[-4:-2])

CT
CT

In [81]:
#functions and methods
answer_cap = answer.upper()

answer.lower()
print(answer.find('t'))

5

In [82]:
import numpy as np
numbers = [1,2,3,4,5]
print(np.mean(numbers))

3.0

In [83]:
name = 'jackson shelton'
print(f'Hello, my name is {name.title()}. I am studying business analytics.')

Hello, my name is Jackson Shelton. I am studying business analytics.

In [84]:
#tuples
t1 = (1,2,3,4,5,6)
print(t1)
print(t1[0])
#recall that these are immutable, so saying t1[0] = 2 will yield and error

(1, 2, 3, 4, 5, 6)
1

In [85]:
#dictnaries
d1 = {'name': 'Jackson Shelton', 'age':21, 'city': 'Williamsburg'}
print(d1['name'])
d1['email'] = 'jhshelton@wm.edu'
print(d1)

Jackson Shelton
{'name': 'Jackson Shelton', 'age': 21, 'city': 'Williamsburg', 'email': 'jhshelton@wm.edu'}

In [86]:
#item loops
for key, value in d1.items():
    print(key, ":", value)

name : Jackson Shelton
age : 21
city : Williamsburg
email : jhshelton@wm.edu

In [87]:
#dictionaries in dictionaries
people = {'person 1': {'name': 'Jackson Shelton', 'age': 23, 'city': 'Williamsburg'}, 'person 2': {'name': 'David Shelton', 'age':59, 'city':'Norfolk'}}
print(people['person 1']['name'])

Jackson Shelton

In [88]:
#distances example
distances = {
    "A": {'B':10, 'C':15},
    "B": {'A':10, 'C':20 },
    'C':{'A':15, 'B':20}
}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [89]:
#student GPA
GPA = {'Bryce':3.8, 'Mann': 3.6, 'Tai':3.4}
student_info = {'Bryce': {'GPA': 3.8, 'Major':'Government', '#courses':4}, 
                'Mann':{'GPA': 3.6, 'Major':'Economics', '#courses':3},
                'Tai': {'GPA':3.4, 'Major':'Mathematics', '#courses':5}}
student_info['Conner'] = {'GPA': 3.0, 'Major':'Biology', '#courses': 2}
print(student_info['Conner'])

{'GPA': 3.0, 'Major': 'Biology', '#courses': 2}

In [90]:
#if statements
x = 7
if x >5:
    print('X is greater than 5')
if x % 3 == 0:
    print('x is a factor of 3')
else:
    print('x is nor a factor of 3')
if x > 0:
    print('Positive')
elif x <0:
    print('Negative')
else:
    print('zero')

X is greater than 5
x is nor a factor of 3
Positive

In [91]:
#for loops
for i in range(2,5):
    print(i)

2
3
4

In [92]:
#while loop
x = 0
while x<5:
    if x % 2 == 0:
        print("x is even")
    else:
        print('x is odd')
    x += 1

x is even
x is odd
x is even
x is odd
x is even

In [93]:
#making functions
def sum_up(a = 0, b = 0):
    '''test docstring'''
    print(a+b)
sum_up(1,2)
sum_up(a = 1, b = 2)
sum_up()

3
3
0

In [94]:
#return function
def return_sum(a = 0, b =0):
    return(a+b)
print(return_sum(1,1))

2

In [ ]:

arr1 = np.array([1,2,3,4,5])
print(arr1)
list2 = [(1,2,3), (4,5,6),]
print(list2)
arr2 = np.array(list2)
print(arr2)

for e in arr1:
    print(e)
arr1 = np.append(arr1, 6)
for e in arr1:
    print(e)

doub_arr = arr1+arr1
for e in doub_arr:
    print(e)